<div class="container">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/ukpic.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3 style="text-align:left">Welcome to my page</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="images/hsw.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3 style="text-align:left">Art And Tech</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Carousel -->

<div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
          <h1>Art page</h1>

            <p>Leonardo Leonardo started dancing Latin American folk dances at a very young age.<br> He began dancing salsa 1998 but it was not until 2001 when decided to further develop his skills by taking classes from reknown international salsa instructors.<br>
                In 2008 he teamed up with Johanna and they have become a dancing couple with vast experience. Their routines are a combination of high technical level and subtle elements.<br> From 2009 to 2011 Leonardo also performed at different events in
                Europe as a member of MAS Mambo Stockholm. In 2011 Babailao Dancers was formed with Leonardo being one of the founders and choreographers.
              </p>
              <div class="col-sm-2"></div>
        <div class="col-sm-4">


              </div>
    </div>
</div>
